/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

/*****----- Global Properties -----*****/
@import                          "~/.config/rofi/shared/colors.rasi"
@import                          "~/.config/rofi/shared/fonts.rasi"

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    width:                       400px;
    background-color:            transparent;
    border:                      0px;
    children:                    [ "mainbox" ];
}

/*****----- Main Box -----*****/
mainbox {
    background-color:            transparent;
    orientation:                 vertical;
    spacing:                     15px;
    padding:                     0px;
    children:                    [ "input-wrapper" ];
}

/*****----- Top Box (Message + Input) -----*****/

input-wrapper {
    orientation:                 vertical;
    expand:                      false; 
    padding:                     20px;
    spacing:                     10px;
    background-color:            @background;
    border-radius:               14px; 
    border:                      1px;
    border-color:                @border; 
    children:                    [ "message", "inputbar" ];
}

/*****----- Message Text -----*****/
message {
    padding:                     0px 0px 10px 0px; 
    margin:                      0px;
    background-color:            transparent;
    border:                      0px;
}
textbox {
    background-color:            transparent;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    markup:                      true;
}

/*****----- Input Bar -----*****/
inputbar {
    enabled:                     true;
    padding:                     5px;
    margin:                      0px;
    background-color:            transparent;
    border:                      0px;     
    children:                    [ "entry" ];
}

entry {
    background-color:            @background-alt; 
    text-color:                  @foreground;
    cursor:                      text;
    placeholder:                 ""  ;
    placeholder-color:           inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    border:                      1px;
    border-radius:               8px;
    border-color:                @border;
    padding:                     10px;
}
