/***** Configuration *****/

configuration {
    show-icons: false;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@import "~/.config/rofi/shared/colors.rasi"

window { 
    location:                    northeast;
    width:              450px;
    height:             220px;
    x-offset:           -80px;
    y-offset:                    5px;
    border-radius:      35px;
    background-image:   url("/tmp/nowplaying/raw_album_art.jpg", width);
    background-color:   @background;
    border:             1px;
    border-color:       @border;
    padding:            0px;
}

mainbox {
    padding:            15px;
    orientation:        horizontal;  
    children:           [ "textbox-custom", "listview" ];
    spacing:            20px;
    background-image:   transparent;
    background-color:   transparent;
}
 
textbox-custom {
    expand:             false;
    vertical-align:     0.0; 
    horizontal-align:   0.0;
    markup:             true;
    font:               "Inter 12";
    background-color:   transparent;
    text-color:         @foreground;
    padding:            10px;
    width:              360px;
}

/*****-----(Buttons) -----*****/
listview {
    enabled:                     true;
    columns:                     3;
    lines:                       1;
    dynamic:                     true;
    reverse:                     false;    
    spacing:                     15px;
    background-color:            transparent;
    cursor:                      "default";
    expand:                      true;
}

element {
    enabled:                     true;
    padding:                     5px;
    border:                      0px;
    border-radius:               100%; 
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}

element.selected  {
    border:                      0px;
    background-color:            @selected;
    text-color:                  @background;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    font:                        "JetBrains Mono Nerd Font 16";
}