/***** Configuration *****/
configuration {
    show-icons:                 false;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

/* Import your colors */
@import "~/.config/rofi/shared/colors.rasi"

/***** Main Window *****/
window {
    location:                    northeast;
    anchor:                      center;
    width:                       300px;
    height:                      300px;
    x-offset:                    -110px;
    y-offset:                    5px;
    background-image:            url("/tmp/nowplaying/album_art.jpg", height);    
    border-radius:               35px;
    border:                      1px;
    border-color:                @border;    
    cursor:                      "default"; 
    background-color:            @background; 
}

/***** Main Container (Overlay) *****/
mainbox {
    background-color:                  transparent;
    orientation:                 vertical;
    spacing:                     0px;
    padding:                     10px 20px; 
    background-image:            transparent;
    children:                    [ "textbox-title", "textbox-custom", "listview" ];
}
 
textbox-title {
    expand:                      false;
    background-color:            transparent;
    text-color:                  @foreground;
    horizontal-align:            0.5;
    str:                         "  Now Playing"; 
    font:                        "JetBrains Mono Nerd Font Bold 14";
    padding:                     0px 0px 10px 0px;
}

/***** Middle: Song Info *****/
textbox-custom {
    expand:                      true;       
    background-color:            transparent;  
    border-radius:               20px;
    border:                      0px;
    border-color:                @selected;
    margin:                      0px 0px 10px 0px;
    padding:                     20px; 
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.5; 
    markup:                      true;     
    font:                        "Inter 12";
}

/*****-----(Buttons) -----*****/
listview {
    enabled:                     true;
    columns:                     3;
    lines:                       1;
    dynamic:                     true;
    reverse:                     false;    
    spacing:                     15px;
    background-color:            transparent;
    cursor:                      "default";
    expand:                      false; 
}

element {
    enabled:                     true;
    padding:                     0px;
    border-radius:               100%; 
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 horizontal;
}

element selected {
    border:                      0px;
    background-color:            @hover;
    text-color:                  @foreground;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    font:                        "JetBrains Mono Nerd Font 18";
}