<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu >
    <menu id="root-menu" label="Applications">
        <menu id="Editors" label="Editors" icon="/usr/share/icons/Papirus-Light/48x48/categories/applications-development.svg">
            <item label="CMake" icon="/usr/share/icons/Papirus-Light/48x48/categories/CMakeSetup.svg">
                <action name="Execute">
                    <command>cmake-gui</command>
                </action>
            </item>
            <item label="Micro" icon="/usr/share/icons/Papirus-Light/48x48/categories/micro.svg">
                <action name="Execute">
                    <command>foot micro</command>
                </action>
            </item>
            <item label="Sublime Text" icon="/usr/share/icons/Papirus-Light/48x48/categories/sublime-text.svg">
                <action name="Execute">
                    <command>/opt/sublime_text/sublime_text</command>
                </action>
            </item>
            <item label="Visual Studio Code" icon="/usr/share/pixmaps/vscode.png">
                <action name="Execute">
                    <command>code</command>
                </action>
            </item>
            <item label="Visual Studio Code - URL Handler" icon="/usr/share/pixmaps/vscode.png">
                <action name="Execute">
                    <command>code --open-url</command>
                </action>
            </item>
        </menu> <!-- Editors -->
        <menu id="Graphics" label="Graphics" icon="/usr/share/icons/Papirus-Light/48x48/categories/applications-graphics.svg">
            <item label="Document Viewer" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.Evince.svg">
                <action name="Execute">
                    <command>evince</command>
                </action>
            </item>
            <item label="GThumb" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.gThumb.svg">
                <action name="Execute">
                    <command>gthumb</command>
                </action>
            </item>
            <item label="Image Viewer" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.Loupe.svg">
                <action name="Execute">
                    <command>loupe</command>
                </action>
            </item>
            <item label="Import With GThumb" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.gThumb.svg">
                <action name="Execute">
                    <command>gthumb --import-photos</command>
                </action>
            </item>
            <item label="Imv" icon="/usr/share/icons/Papirus-Light/48x48/categories/multimedia-photo-viewer.svg">
                <action name="Execute">
                    <command>imv</command>
                </action>
            </item>
            <item label="Imv-dir" icon="/usr/share/icons/Papirus-Light/48x48/categories/multimedia-photo-viewer.svg">
                <action name="Execute">
                    <command>imv-dir</command>
                </action>
            </item>
            <item label="Print Preview" icon="/usr/share/icons/Papirus-Light/24x24/actions/document-print-preview.svg">
                <action name="Execute">
                    <command>evince-previewer</command>
                </action>
            </item>
        </menu> <!-- Graphics -->
        <menu id="Internet" label="Internet" icon="/usr/share/icons/Papirus-Light/48x48/categories/applications-internet.svg">
            <item label="Avahi SSH Server Browser" icon="/usr/share/icons/Papirus-Light/48x48/devices/network-wired.svg">
                <action name="Execute">
                    <command>/usr/bin/bssh</command>
                </action>
            </item>
            <item label="Avahi VNC Server Browser" icon="/usr/share/icons/Papirus-Light/48x48/devices/network-wired.svg">
                <action name="Execute">
                    <command>/usr/bin/bvnc</command>
                </action>
            </item>
            <item label="Google Chrome" icon="/usr/share/icons/Papirus-Light/48x48/categories/google-chrome.svg">
                <action name="Execute">
                    <command>/usr/bin/google-chrome-stable</command>
                </action>
            </item>
            <item label="Google Chrome" icon="/usr/share/icons/Papirus-Light/48x48/categories/google-chrome.svg">
                <action name="Execute">
                    <command>/usr/bin/google-chrome-stable</command>
                </action>
            </item>
            <item label="Helium Browser" icon="/usr/share/pixmaps/helium-browser.png">
                <action name="Execute">
                    <command>helium-browser</command>
                </action>
            </item>
            <item label="Proton VPN" icon="/usr/share/icons/Papirus-Light/48x48/categories/proton-vpn-logo.svg">
                <action name="Execute">
                    <command>protonvpn-app</command>
                </action>
            </item>
            <item label="Thorium Browser" icon="/usr/share/icons/Papirus-Light/48x48/categories/thorium-browser.svg">
                <action name="Execute">
                    <command>/usr/bin/thorium-browser</command>
                </action>
            </item>
            <item label="Thorium Browser" icon="/usr/share/icons/Papirus-Light/48x48/categories/thorium-browser.svg">
                <action name="Execute">
                    <command>/usr/bin/thorium-browser</command>
                </action>
            </item>
            <item label="Thorium Shell" icon="/opt/chromium.org/thorium/thorium_shell.png">
                <action name="Execute">
                    <command>/usr/bin/thorium-shell</command>
                </action>
            </item>
            <item label="UGet" icon="/usr/share/icons/Papirus-Light/48x48/categories/uget-icon.svg">
                <action name="Execute">
                    <command>uget-gtk</command>
                </action>
            </item>
        </menu> <!-- Internet -->
        <menu id="Multimedia" label="Multimedia" icon="/usr/share/icons/Papirus-Light/48x48/categories/applications-multimedia.svg">
            <item label="Gapless" icon="/usr/share/icons/Papirus-Light/48x48/categories/com.github.neithern.g4music.svg">
                <action name="Execute">
                    <command>g4music</command>
                </action>
            </item>
            <item label="Mpv Media Player" icon="/usr/share/icons/Papirus-Light/48x48/categories/mpv.svg">
                <action name="Execute">
                    <command>mpv --player-operation-mode=pseudo-gui --</command>
                </action>
            </item>
            <item label="Qt V4L2 Test Utility" icon="/usr/share/icons/Papirus-Light/48x48/categories/qv4l2.svg">
                <action name="Execute">
                    <command>qv4l2</command>
                </action>
            </item>
            <item label="Qt V4L2 Video Capture Utility" icon="/usr/share/icons/Papirus-Light/48x48/categories/qvidcap.svg">
                <action name="Execute">
                    <command>qvidcap</command>
                </action>
            </item>
            <item label="Spotify" icon="/usr/share/pixmaps/spotify-client.png">
                <action name="Execute">
                    <command>spotify --uri=</command>
                </action>
            </item>
            <item label="Spotify (adblock)" icon="/usr/share/pixmaps/spotify-client.png">
                <action name="Execute">
                    <command>env LD_PRELOAD=/usr/lib/spotify-adblock.so spotify --uri=</command>
                </action>
            </item>
            <item label="VLC Media Player" icon="/usr/share/icons/Papirus-Light/48x48/categories/vlc.svg">
                <action name="Execute">
                    <command>/usr/bin/vlc --started-from-file</command>
                </action>
            </item>
            <item label="Volume Control" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.pulseaudio.pavucontrol.svg">
                <action name="Execute">
                    <command>pavucontrol</command>
                </action>
            </item>
        </menu> <!-- Multimedia -->
        <menu id="Office" label="Office" icon="/usr/share/icons/Papirus-Light/48x48/categories/applications-office.svg">
            <item label="Document Viewer" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.Evince.svg">
                <action name="Execute">
                    <command>evince</command>
                </action>
            </item>
            <item label="Print Preview" icon="/usr/share/icons/Papirus-Light/24x24/actions/document-print-preview.svg">
                <action name="Execute">
                    <command>evince-previewer</command>
                </action>
            </item>
        </menu> <!-- Office -->
        <menu id="Settings" label="Settings" icon="/usr/share/icons/Papirus-Light/48x48/categories/preferences-desktop-navigation.svg">
            <item label="Advanced Network Configuration" icon="/usr/share/icons/Papirus-Light/48x48/categories/preferences-system-network.svg">
                <action name="Execute">
                    <command>nm-connection-editor</command>
                </action>
            </item>
            <item label="Qt5 Settings" icon="/usr/share/icons/Papirus-Light/48x48/categories/preferences-desktop-theme.svg">
                <action name="Execute">
                    <command>qt5ct</command>
                </action>
            </item>
            <item label="Qt6 Settings" icon="/usr/share/icons/Papirus-Light/48x48/categories/preferences-desktop-theme.svg">
                <action name="Execute">
                    <command>qt6ct</command>
                </action>
            </item>
            <item label="Text Editor Settings" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.mousepad.svg">
                <action name="Execute">
                    <command>mousepad --preferences</command>
                </action>
            </item>
            <item label="Thunar Preferences" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.thunar.svg">
                <action name="Execute">
                    <command>thunar-settings</command>
                </action>
            </item>
            <item label="Volume Control" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.pulseaudio.pavucontrol.svg">
                <action name="Execute">
                    <command>pavucontrol</command>
                </action>
            </item>
            <item label="Xfce Terminal Settings" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.terminal-settings.svg">
                <action name="Execute">
                    <command>xfce4-terminal --preferences</command>
                </action>
            </item>
            <item label="YAD Settings" icon="/usr/share/icons/Papirus-Light/48x48/categories/yad.svg">
                <action name="Execute">
                    <command>yad-settings</command>
                </action>
            </item>
        </menu> <!-- Settings -->
        <menu id="System" label="System" icon="/usr/share/icons/Papirus-Light/48x48/categories/applications-system.svg">
            <item label="Alacritty" icon="/usr/share/pixmaps/Alacritty.svg">
                <action name="Execute">
                    <command>alacritty</command>
                </action>
            </item>
            <item label="Avahi Zeroconf Browser" icon="/usr/share/icons/Papirus-Light/48x48/devices/network-wired.svg">
                <action name="Execute">
                    <command>/usr/bin/avahi-discover</command>
                </action>
            </item>
            <item label="Btop++" icon="/usr/share/icons/Papirus-Light/48x48/categories/btop.svg">
                <action name="Execute">
                    <command>foot btop</command>
                </action>
            </item>
            <item label="Foot" icon="/usr/share/icons/Papirus-Light/48x48/categories/foot.svg">
                <action name="Execute">
                    <command>foot</command>
                </action>
            </item>
            <item label="Foot Client" icon="/usr/share/icons/Papirus-Light/48x48/categories/foot.svg">
                <action name="Execute">
                    <command>footclient</command>
                </action>
            </item>
            <item label="Foot Server" icon="/usr/share/icons/Papirus-Light/48x48/categories/foot.svg">
                <action name="Execute">
                    <command>foot --server</command>
                </action>
            </item>
            <item label="Hardware Locality Lstopo" icon="/usr/share/icons/Papirus-Light/48x48/categories/hwloc.svg">
                <action name="Execute">
                    <command>lstopo</command>
                </action>
            </item>
            <item label="Htop" icon="/usr/share/pixmaps/htop.png">
                <action name="Execute">
                    <command>foot htop</command>
                </action>
            </item>
            <item label="Stacer" icon="/usr/share/icons/Papirus-Light/48x48/categories/stacer.svg">
                <action name="Execute">
                    <command>stacer</command>
                </action>
            </item>
            <item label="Task Manager" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.taskmanager.svg">
                <action name="Execute">
                    <command>xfce4-taskmanager</command>
                </action>
            </item>
            <item label="Terminal" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.Terminal.svg">
                <action name="Execute">
                    <command>gnome-terminal</command>
                </action>
            </item>
            <item label="Terminal Preferences" icon="/usr/share/icons/hicolor/scalable/apps/org.gnome.Terminal.Preferences.svg">
                <action name="Execute">
                    <command>gnome-terminal --preferences</command>
                </action>
            </item>
            <item label="Thunar File Manager" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.thunar.svg">
                <action name="Execute">
                    <command>thunar</command>
                </action>
            </item>
            <item label="Xfce Terminal" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.terminal.svg">
                <action name="Execute">
                    <command>xfce4-terminal</command>
                </action>
            </item>
            <item label="Xwayland">
                <action name="Execute">
                    <command>/usr/bin/Xwayland -decorate -displayfd 1</command>
                </action>
            </item>
        </menu> <!-- System -->
        <menu id="Utilities" label="Utilities" icon="/usr/share/icons/Papirus-Light/48x48/categories/applications-utilities.svg">
            <item label="About Xfce" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.about.svg">
                <action name="Execute">
                    <command>xfce4-about</command>
                </action>
            </item>
            <item label="Ark" icon="/usr/share/icons/Papirus-Light/48x48/categories/ark.svg">
                <action name="Execute">
                    <command>ark</command>
                </action>
            </item>
            <item label="Bulk Rename" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.thunar.svg">
                <action name="Execute">
                    <command>thunar --bulk-rename</command>
                </action>
            </item>
            <item label="Gammastep" icon="/usr/share/icons/Papirus-Light/48x48/categories/gammastep.svg">
                <action name="Execute">
                    <command>foot gammastep</command>
                </action>
            </item>
            <item label="Gammastep Indicator" icon="/usr/share/icons/Papirus-Light/48x48/categories/gammastep.svg">
                <action name="Execute">
                    <command>gammastep-indicator</command>
                </action>
            </item>
            <item label="LocalSend" icon="/usr/share/icons/hicolor/128x128/apps/localsend.png">
                <action name="Execute">
                    <command>localsend</command>
                </action>
            </item>
            <item label="Micro" icon="/usr/share/icons/Papirus-Light/48x48/categories/micro.svg">
                <action name="Execute">
                    <command>foot micro</command>
                </action>
            </item>
            <item label="Mousepad" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.mousepad.svg">
                <action name="Execute">
                    <command>mousepad</command>
                </action>
            </item>
            <item label="Pinentry" icon="/usr/share/pixmaps/pinentry.png">
                <action name="Execute">
                    <command>/usr/bin/pinentry-qt</command>
                </action>
            </item>
            <item label="Stacer" icon="/usr/share/icons/Papirus-Light/48x48/categories/stacer.svg">
                <action name="Execute">
                    <command>stacer</command>
                </action>
            </item>
            <item label="Task Manager" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.xfce.taskmanager.svg">
                <action name="Execute">
                    <command>xfce4-taskmanager</command>
                </action>
            </item>
            <item label="Terminal" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.Terminal.svg">
                <action name="Execute">
                    <command>gnome-terminal</command>
                </action>
            </item>
            <item label="Text Editor" icon="/usr/share/icons/Papirus-Light/48x48/categories/org.gnome.TextEditor.svg">
                <action name="Execute">
                    <command>gnome-text-editor</command>
                </action>
            </item>
            <item label="Visual Studio Code - URL Handler" icon="/usr/share/pixmaps/vscode.png">
                <action name="Execute">
                    <command>code --open-url</command>
                </action>
            </item>
            <item label="Xgps" icon="/usr/share/gpsd/icons/gpsd-logo.png">
                <action name="Execute">
                    <command>xgps</command>
                </action>
            </item>
            <item label="Xgpsspeed" icon="/usr/share/gpsd/icons/gpsd-logo.png">
                <action name="Execute">
                    <command>xgpsspeed</command>
                </action>
            </item>
        </menu> <!-- Utilities -->
        <separator />
        <item label="Terminal" icon="/usr/share/icons/Papirus-Light/48x48/apps/terminal.svg">
            <action name="Execute">
                <command>foot</command>
            </action>
        </item>
        <item label="Reconfigure" icon="/usr/share/icons/Papirus-Light/48x48/apps/system-reboot.svg">
            <action name="Reconfigure">
            </action>
        </item>
        <item label="Proton VPN" icon="/usr/share/icons/hicolor/scalable/apps/proton-vpn-logo.svg">
            <action name="Execute">
                <command>protonvpn-app</command>
            </action>
        </item>
        <item label="Background" icon="/usr/share/icons/Papirus-Light/48x48/apps/preferences-desktop-wallpaper.svg">
            <action name="Execute">
                <command>sh -c &apos;/home/init_harsh/.config/rofi/wallselect/wallselect.sh&apos;</command>
            </action>
        </item>
        <item label="Exit" icon="/usr/share/icons/Papirus-Light/48x48/apps/system-log-out.svg">
            <action name="Exit">
            </action>
        </item>
    </menu>
</openbox_menu>
