/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
border: rgba(63, 72, 77, 1);
    background:     rgba(34, 45, 50, 0.75);
    background-alt: rgba(41, 53, 59, 0.60);
    foreground:     rgba(184, 194, 198, 1.0);
    selected:       rgba(0, 188, 212, 0.85);
    hover:          rgba(0, 188, 212, 0.20);
    active:         rgba(33, 255, 144, 1.0);
    urgent:         rgba(255, 75, 96, 1.0);
}
