/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
border: rgba(74, 84, 91, 1);
    background:     rgba(47, 52, 63, 0.75);
    background-alt: rgba(56, 60, 74, 0.60);
    foreground:     rgba(186, 197, 208, 1.0);
    selected:       rgba(82, 148, 226, 0.85);
    hover:          rgba(82, 148, 226, 0.20);
    active:         rgba(152, 195, 121, 1.0);
    urgent:         rgba(224, 107, 116, 1.0);
}
