/*****----- Configuration -----*****/
configuration {
	show-icons: 		true;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary"; 
}

/*****----- Global Properties -----*****/
@import                          "~/.config/rofi/shared/colors.rasi"
@import                          "~/.config/rofi/shared/fonts.rasi"

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center; 
    anchor:                      center;
    fullscreen:                  false;
    width:                       500px; 
    x-offset:                    0px;
    y-offset:                    0px; 
    enabled:                     true;
    border:                      1px;
    border-color:                @border;
    border-radius:               14px; 
    padding: 			         0px;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    padding:                     10px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     0px; 
    padding:                     0px;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 horizontal;
    children:                    [ "textbox-prompt-colon", "prompt", "entry" ]; 
}

entry {
    enabled:                     true;
    vertical-align: 		     0.5;
    expand:                      true;
    padding:                     10px;
    margin:                      0px 0px 0px 5px;
    border-radius:               8px; 
    background-color:            @background-alt;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Enter SSID";
    placeholder-color:           inherit;
}

textbox-prompt-colon {
    font:                        "Font Awesome 5 Free 14"; 
    enabled:                     true;
    expand:                      false;
    str:                         "";
    padding:                     10px;
    margin: 			         0px;   
    border-radius:               8px 0px 0px 8px; 
    background-color:            @active;
    text-color:                  @background;
}

prompt {
    enabled:                     true;
    margin: 			         0px;
    padding:                     10px;
    border-radius:               0px 8px 8px 0px; 
    background-color:            @active; 
    text-color:                  @background;
    vertical-align: 		     0.5;
}