/*****----- Configuration -----*****/
configuration {
    show-icons:                 true;
    drun-display-format:        "{icon}";  
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

/*****----- Global Properties -----*****/
@import                          "~/.config/rofi/shared/colors.rasi"
@import                          "~/.config/rofi/shared/fonts.rasi"

* {
    border-radius:               14px;
}

/*****----- Main Window -----*****/
window {
    background-color:            @background;
    width:                       1300;
    height:                      525;
    location:                    center;
    anchor:                      center;
    padding:                     0px;
    border:                      1px;
    border-color:                @border;
}

/*****----- Main Layout -----*****/
mainbox {
    background-color:            inherit;
    orientation:                 vertical;
    children:                    [ "message", "listview" ];
}

/*****----- Message -----*****/
message {
    padding:                     15px;
    background-color:            transparent;
}
textbox {
    font:                        "JetBrains Mono Nerd Font 12";
    background-color:            inherit;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    markup:                      true;
}

/*****----- List of Thumbnails -----*****/
listview {
    columns:                     5;
    lines:                       3;
    layout:                      vertical;
    fixed-columns:               true;
    fixed-height:                true;
    padding:                     0px 15px 15px 15px;
    spacing:                     10px; 
    background-color:            transparent;
}

/*****----- Element Styling (Each Thumbnail) -----*****/
element {
    orientation:                 vertical;
    padding:                     -60px 0px;
    background-color:            @background-alt;
    cursor:                      pointer;
}
element selected {
    border:                      4px;
    border-color:                @background;    
}
element-icon {
    size:                        264px; 
    background-color:            transparent;
    border-radius:               8px;
}

element-text {
    enabled: false; 
    font:                        "sans 0";
    background-color:            transparent;
    text-color:                  transparent;
}