/** Gtk-3.0 css **/

infobar revealer box,
messagedialog .titlebar,
window.dialog,
messagedialog,
.dialog {
    background-color: @card_bg_color;
    color: @card_fg_color;
}

infobar revealer box button,
messagedialog button{
    background-color: @accent_hover_glass;
    color: @window_fg_color;
}

infobar revealer box button:hover,
messagedialog button:hover{
    background-color: @accent_selected_glass; 
    color: @window_fg_color; 
}

menuitem:hover,
menu item:hover,
.sidebar row:hover,
listbox row:hover,
flowbox flowboxchild:hover,
treeview.view:hover, 
iconview:hover,
button.flat:hover,
modelbutton:hover,
popover.menu button:hover {
    background-color: @accent_hover_glass;
}

.sidebar row:selected,
listbox row:selected,
flowbox flowboxchild:selected,
treeview.view:selected,
iconview:selected {
    background-color: @accent_selected_glass;
    color: @window_fg_color;
}

button:checked,
button:active {
    background-color: @accent_selected_glass;
    color: @window_fg_color;
}

headerbar button.titlebutton:hover {
    background-color: alpha(@window_fg_color, 0.1); 
    box-shadow: none;
}